<p id="notice"><%= notice %></p>

<p>
  <strong>Bb number:</strong>
  <%= @shodan.bb_number %>
</p>

<p>
  <strong>First name:</strong>
  <%= @shodan.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @shodan.last_name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @shodan.status %>
</p>

<%= link_to 'Edit', edit_shodan_path(@shodan) %> |
<%= link_to 'Back', shodans_path %>
