<p id="notice"><%= notice %></p>

<p>
  <strong>Bb number:</strong>
  <%= @car.bb_number %>
</p>

<p>
  <strong>Car number:</strong>
  <%= @car.car_number %>
</p>

<p>
  <strong>Maker:</strong>
  <%= @car.maker %>
</p>

<p>
  <strong>Car model:</strong>
  <%= @car.car_model %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
